@font-face {
  font-family: "VW Head Regular";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/VWHeadRegular.woff) format("woff");
}
@font-face {
  font-family: "VW Head Bold";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/VWHeadBold.woff) format("woff");
}
@font-face {
  font-family: "VW Text Regular";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/VWTextRegular.woff) format("woff");
}
@font-face {
  font-family: "VW Text Bold";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/VWTextBold.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fondo.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  font-family: "VW Text Regular";
  color: #333;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
}

h1 {
  font-family: "VW Head Bold";
  font-size: 35px;
}

.navbar {
  background-color: rgba(230, 149, 43, 0.737);
}

.nav-link {
  color: #fff !important;
  font-size: 20px;
  text-shadow: 0 0 5px #000;
}
.nav-link:hover {
  color: #000 !important;
  font-weight: 300;
}

.slide img {
  height: 600px;
}

h4 {
  text-align: center;
  background-color: rgba(230, 149, 43, 0.737);
  padding: 30px;
  font-family: "VW Head Regular";
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 5px #000;
  margin-bottom: 20px;
}

.card {
  background-color: rgba(230, 149, 43, 0.737);
  color: #fff !important;
}
.card img {
  height: 300px;
}
.card:hover {
  transform: scale(1.1) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
.card:hover h5 {
  font-family: "VW Text Bold";
  color: #000;
  font-weight: bold;
}

.nleft {
  opacity: 0.93 !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  background-position: center;
  height: 450px;
  margin-top: 60px;
}

.nright {
  margin-top: 60px;
  padding-top: 40px;
  background-color: rgba(12, 1, 1, 0.429);
  color: #fff;
  font-family: "VW Text Regular";
}
.nright h2 {
  font-family: "VW Head Bold";
}
.nright h3 {
  font-family: "VW Text Bold";
}
.nright .descripcion li {
  font-size: 24px;
}
.nright .price {
  font-family: "VW Text Bold";
  font-weight: 900;
  font-size: 24px;
}
.nright .btn-dark:hover {
  color: orange;
  transform: scale(1.1);
}

#Contacto form label {
  font-weight: 700;
  color: #fff;
  font-size: 25px;
}
#Contacto h2 {
  font-family: "VW Head Regular";
  font-weight: 700;
  color: #fff;
}
#Contacto .btn-dark:hover {
  color: rgb(230, 149, 43);
  transform: scale(1.1);
}

footer {
  background-color: rgba(0, 0, 0, 0.895);
  color: #fff;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  bottom: 0;
}
footer p {
  margin-bottom: 20px;
}
footer .redes a {
  text-decoration: none;
}
footer .redes i {
  color: orange;
  font-size: 40px;
  letter-spacing: 30px;
}
footer .redes i:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
